@import './utils/helper';
@import './utils/base';
@import './utils/flex';
@import './utils/spacing';

@import './components/button';

@import './sections/header';
@import './sections/hero';

#app {
	max-width: 1140px;
	margin: auto;
	padding: 0 20px;
	height: 100%;
}
